{% extends 'base.html' %} 
{% load static %}

{% block title %}About{% endblock  %}
{% block content %}

    <div class="container text-light" style="font-family: 'Oswald', sans-serif;">
        <h1 class="my-4" style="text-align:center">Meet the Author</h1>
        <div class="d-flex mt-3" style="border:3px solid #B0F3EC">
            <img class="mt-2 ms-2 rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4D03AQGSn3QJ7OZICA/profile-displayphoto-shrink_400_400/0/1631644803286?e=1637193600&v=beta&t=q6k4hOa1UvIZoJA5u0nth0R9woSwgmVKjg1yyrE4X9Q" alt="" srcset="" height=100px width=100px id="about-profile-pic">
            <div class="container mt-3">
                <h3>Toj Singh | Software Engineer | Detroit, Michigan | General Assemby | University of Michigan-Dearborn | <a href="https://www.linkedin.com/in/tojsingh/" style="text-decoration: none; color: white;">LinkedIn | </a><a href="https://github.com/Toj727" style="text-decoration: none; color: white;">GitHub |</a></h3>
            </div>
        </div>    
    </div>

{% endblock %}
