{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}  
<div class="container text-light">
    <h1 class="pt-5 text-center">Add a Weight Entry</h1>
        <div class = 'p-5 form-styling'>
            <form action="{% url 'weight_create' %}" method="POST">

                {% csrf_token %}
                {{form|crispy}}
                {% comment %} generate form {% endcomment %}
                {% comment %} {{form.as_p}} {% endcomment %}

                <input type="submit" value="Submit">

            </form>
        </div>
</div>
{% endblock %}
